body {
  background:#0f172a;
  color:#fff;
  text-align:center;
  font-family:Arial;
}

.game {
  display:flex;
  justify-content:center;
  gap:10px;
}

.img-wrap {
  position:relative;
}

.img-wrap img {
  width:200px;
  border-radius:10px;
  border:2px solid #22c55e;
}

.mark {
  position:absolute;
  width:30px;
  height:30px;
  border:2px solid red;
  border-radius:50%;
  pointer-events:none;
}
